
/* Clauseヘッダー */
rect.clause-header-bg {
    fill: #fff;
    opacity: 0.2;
}
text.clause-header-text {
    fill: #999;
    font-style: italic;
}

/* selectBox */
.selectBox > rect.bg {
    fill: #b9d6d6;
}

/* withsBox */
.withsBox > rect.bg {
    fill: #8BD77F;
}
.withBox > text.with-name-text {
    fill: #333;
}

/* fromsBox */
.fromsBox > rect.bg {
    fill: #d6d684;
}

/* columnsBox */
.columnsBox > rect.bg {
    fill: #A0A0E1;
}

/* elementBox */
.elementBox > rect.bg {
    fill: #ccc;
}
.elementBox > text.element-text {
    fill: #333;
}


/* With句、From句、Columの内側のBox */
.withsGroupBox > rect.bg,
.elementsBox > rect.bg,
.fromBox > rect.bg,
.columnBox > rect.bg {
    fill: #fff;
    opacity: 0.6;
}
